@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* default styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 6rem;
    padding: 0rem 2rem;
}

.navbar .logo {
    width: 9rem;
}

.navbar ul {
    display: flex;
}

.navbar li {
    font-size: 1.5rem;
}

.navbar ul a {
    padding: 1rem 2rem;
}

.navbar ul a:hover {
    border-bottom: 3px solid #333;
}

/* introduction */
#introduction {
    justify-content: space-evenly;
    margin-top: 5rem;
}

#introduction img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 10rem;
    margin: 2rem 0rem;
}

.introduction-item {
    width: 35vw;
    height: 65vh;
}


.introduction-item h1 {
    text-align: left;
    margin: 0 0 1rem 5rem;
}

.introduction-item p {
    padding: 0rem 5rem;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    height: 7vh;
    justify-content: right;
}

.footer a {
    margin-right: 4rem;
    font-size: 1.2rem;
}

/* legal notice */
#legal-notice h1 {
    padding: 3rem 0 3rem 0;
}

#legal-notice p {
    padding: 0rem 4rem;
}

/* generator */
#generator-container h1 {
    padding: 3rem 0 7rem 0;
}

#generator-container p {
    padding: 0 3rem;
}

#generator-container button {
    position: relative;
    box-sizing: border-box;
    margin-top: 12rem;
}