@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* default styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 6rem;
    padding: 0rem 2rem;
}

.navbar .logo {
    width: 9rem;
}

.navbar ul {
    display: flex;
}

.navbar li {
    font-size: 1.5rem;
}

.navbar ul a {
    padding: 1rem 2rem;
}

.navbar ul a:hover {
    border-bottom: 3px solid #333;
}

/* introduction */
#introduction {
    justify-content: space-evenly;
    margin-top: 5rem;
}

#introduction img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 10rem;
    margin-top: 1.5rem;
}

.introduction-item {
    width: 40vw;
    height: 65vh;
}


.introduction-item h1 {
    text-align: left;
}