/* backgrounds */
.bg-primary {
    background-color: #2CE576;
}

/* drop shadows */
.drop-shadow-strong {
    box-shadow: 0 8px 38px rgba(0, 0, 0, 0.3); 
}

.drop-shadow-weak {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1); 
}

/* misc */
.selected {
    border-bottom: 3px solid #333;
}

.rounded-corners {
    border-radius: 1rem;
}

.outline {
    border: 5px solid #333;
}

.flex-items {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}